{% extends 'base.html.twig' %}

{% block title %}Проверка ОТ{% endblock %}

{% block body %}
    <h1>Проверка ОТ</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>№</th>
                <td>{{ check_requirements_work.id }}</td>
            </tr>
            <tr>
                <th>Планируемая дата проверки</th>
                <td>{{ check_requirements_work.plannedCheckDate ? check_requirements_work.plannedCheckDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Фактическая дата проверки</th>
                <td>{{ check_requirements_work.factCheckDate ? check_requirements_work.factCheckDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Результат</th>
                <td>{{ check_requirements_work.result }}</td>
            </tr>
            <tr>
                <th>Комментарий</th>
                <td>{{ check_requirements_work.comments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_check_requirements_work_index') }}">Вернуться к списку</a>

    <a href="{{ path('app_check_requirements_work_edit', {'id': check_requirements_work.id}) }}">Редактировать</a>

    {{ include('check_requirements_work/_delete_form.html.twig') }}
{% endblock %}
