{% extends 'base.html.twig' %}

{% block title %}ExamResults{% endblock %}

{% block body %}
    <h1>ExamResults</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ exam_result.id }}</td>
            </tr>
            <tr>
                <th>DateExam</th>
                <td>{{ exam_result.dateExam ? exam_result.dateExam|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Result</th>
                <td>{{ exam_result.result }}</td>
            </tr>
            <tr>
                <th>IsComplete</th>
                <td>{{ exam_result.isComplete ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_exam_results_index') }}">back to list</a>

    <a href="{{ path('app_exam_results_edit', {'id': exam_result.id}) }}">edit</a>

    {{ include('exam_results/_delete_form.html.twig') }}
{% endblock %}
